:host ::ng-deep {
  .mat-card {
    padding: 24px;
    margin: 16px;
    margin-top: 16px;
  }
  .mat-card-subtitle {
    color:#673ab7;
    font-weight: 500;
  }
 .main-subtitle {
    display: flex;
    padding: 16px;
    line-height: 32px;
    flex-direction: column;
  }
  .mat-raised-button {
    margin: 16px;
    margin-top: 0px;
    width: calc(100% - 32px);
  }
  .mat-card.mat-card-questionario>:first-child {
    margin-bottom: 0;
  }
}
.questionario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.pergunta {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 100%;
  @media (min-width: 768px) {
    width: calc((100% / 3) - 10px);
  }
  .slider-group {
    display: flex;
    flex-direction: row;
  }
  .nao-preenchido{
    color: rgba(0,0,0,.54);
    opacity: 0.6;
  }
  .label-slider {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
  }
  .slider {
    flex-grow: 1;
    align-self: center;
  }
  .text-small {
    color:#673ab7;
    font-weight: 500;
  }
  .min, .max {
    display: flex;
    margin: auto;
  }
  .min {
    align-self: flex-start;
    margin-right: 6px;
  }
  .max {
    align-self: flex-end;
    margin-left: 6px;
  }
}
.resultado {
  font-weight: bold;
  text-transform: uppercase;
}
.chart {
  width: 100%;
}
